* {
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 0.7763480392156863) 0%,
    rgba(253, 29, 29, 0.835171568627451) 50%,
    rgba(252, 176, 69, 0.773546918767507) 100%
  );

  perspective: 700px;
  @media (max-width: 767px) {
    background-size: 600%;
  }
}
h1 {
  position: relative;
  font-family: "Lobster", cursive;
  transform: skew(-25deg);
  margin: 80px auto;
  text-align: center;
  color: #fffefe;
  opacity: 0.5;
  font-size: 50px;
  animation: trans 3s alternate;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  text-shadow: 2px 2px 5px black, -2px -2px 5px black;
  @media (max-width: 767px) {
    font-size: 40px;
  }
}

@keyframes trans {
  from {
    transform: translateX(-700px);
  }
  to {
    transform: translateX(0);
  }
}

.folien {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  justify-content: center;
  column-gap: 10rem;
  @media (max-width: 1090px) {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3rem;
    margin: auto;
  }
}
.folie1 {
  width: 230px;
  position: relative;
  font-style: italic;
  padding: 30px;
  text-align: center;
  @media (max-width: 767px) {
    width: 170px;
  }

  a {
    text-decoration: none;
    color: rgb(236, 233, 233);
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black;

    @media (max-width: 767px) {
      font-size: 1rem;
    }
  }
  a:hover {
    color: #414ceb;
    text-shadow: 0px 0px 4px #f3e9e9;
    /*  text-shadow: 0px 0px 20px rgb(0, 0, 184); */
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    z-index: -1;
    background: rgb(131, 58, 180);
    background: linear-gradient(
      90deg,
      rgba(131, 58, 180, 0.8763480392156863) 0%,
      rgba(253, 29, 29, 0.835171568627451) 50%,
      rgba(252, 176, 69, 0.873546918767507) 100%
    );
    box-shadow: 0 0 10px rgba(9, 9, 241, 0.8), 0 0 200px rgba(0, 0, 255, 0.8);
    transform: skew(-20deg);
    border-radius: 2rem;
    animation: one 1s infinite alternate;
  }

  &::after {
    content: "";
    position: absolute;
    opacity: 0.4;
    top: 16px;
    left: 15px;
    width: 250px;
    height: 100%;
    z-index: -2;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 3px rgb(15, 15, 15);
    transform: skew(-20deg);
    border-radius: 2rem;
    animation: one 1s infinite alternate;
  }
  @keyframes one {
    to {
      transform: rotateX(30deg);
    }
  }
}
@for $i from 2 to 4 {
  .folie#{$i} {
    @extend .folie1;
  }
}
.font_awesome {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-content: center;
  row-gap: 6rem;
  column-gap: 18rem;
  @media (max-width: 767px) {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 6rem;
    align-items: center;
    row-gap: 3rem;
  }

  i {
    margin-left: 60px;
    color: rgb(255, 255, 255);
    font-size: 4vw;
    opacity: 0.5;
    text-shadow: 3px 3px 3px black;
    @media (max-width: 767px) {
      font-size: 9vw;
      margin-left: 30px;
    }
  }
}
#cross1,
#cross2 {
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
