body {
  height: 135vh;
  background: linear-gradient(
    128deg,
    rgba(137, 246, 222, 1) 0%,
    rgba(56, 50, 240, 1) 100%
  );
  @media (max-width: 1116px) {
    height: 142vh;
    width: 100vw;
  }
}

.contain {
  display: flex;
  column-gap: 5vw;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-wrap: wrap;
  @media (max-width: 1113px) {
    row-gap: 8rem;

    margin-top: 30px;
  }
}
.main1 {
  perspective: 350px;

  section {
    margin-top: 20vh;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: 2s;
    animation: z 3s;

    @media (max-width: 767px) {
      height: 0px;
      margin-top: 100px;
    }

    &:hover {
      transform: rotateY(-180deg) scale(1.3);
    }

    .face {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 300px;
      position: absolute;
      border-radius: 2rem;
      font-weight: bold;
      color: rgb(87, 86, 86);
      font-size: 120px;
      perspective: 200px;
      transform: scale(0.9);
      @media (max-width: 767px) {
        font-size: 75px;
        width: 180px;
        height: 180px;
      }
    }

    .front {
      background-color: rgb(218, 240, 255);
      box-shadow: 2px 2px 11px 2px #7c34cb;

      i {
        color: #7c34cb;
      }
    }
    .back {
      font-size: 22px;
      font-weight: bold;
      color: #511c8a;
      background-color: rgb(218, 240, 255);
      backface-visibility: hidden;
      transform: perspective(200px) rotateY(180deg);
      box-shadow: inset -4px 4px 6px 2px#7c34cb;
      @media (max-width: 767px) {
        font-size: 12px;
      }
    }
  }
}

@keyframes scale {
  from {
    scale: 22;
  }
  to {
    scale: 1;
  }
}
footer {
  height: 10vh;
  margin-top: 50px;
  margin-bottom: 50px;
  @media (max-width: 767px) {
    margin: 50px auto;
  }

  div {
    color: white;
    font-style: italic;
    font-size: 1.7vw;
    margin-top: 140px;
    margin-left: 45%;
    text-align: center;

    @media (max-width: 767px) {
      margin-left: 27%;
      font-size: 4vw;
    }

    a {
      text-shadow: 2px 2px 5px black, -2px -2px 5px black;
      text-decoration: none;
      color: white;
      font-style: italic;

      font-weight: bold;
      margin-left: 10%;

      @media (max-width: 767px) {
        font-size: 4vw;
        margin-left: -40%;
      }
    }
  }
}
@keyframes z {
  from {
    transform: translateZ(120px) rotateY(-180deg);
  }
  to {
    transform: translateZ(0);
  }
}
@for $i from 2 to 4 {
  .main#{$i} {
    @extend .main1;
  }
}
