body {
  height: 100vh;
  background: rgb(139, 66, 187);
  background: linear-gradient(90deg, rgba(131,58,180,0.7763480392156863) 0%, rgba(253,29,29,0.835171568627451) 50%, rgba(252,176,69,0.773546918767507) 100%);
  
  @media (max-width: 1642px) {
    background-size: 600%;
  }
}

.contain {
  display: flex;
  column-gap: 5vw;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-wrap: wrap;
  @media (max-width: 1113px) {
    row-gap: 1rem;
    gap: 10px;
    margin-top: 30px;
  }
}
.main1 {
  perspective: 350px;

  section {
    margin-top: 20vh;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: 2s;
    animation: z 3s;

    @media (max-width: 767px) {
      height: 0px;
      margin-top: 150px;
      margin-bottom: 100px;
    }

    &:hover {
      transform: rotateY(-180deg) scale(1.3);
    }

    .face {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 300px;
      position: absolute;
      border-radius: 2rem;
      font-weight: bold;
      color: rgb(87, 86, 86);
      font-size: 120px;
      perspective: 200px;
      transform: scale(0.9);
      @media (max-width: 767px) {
        font-size: 75px;
        width: 180px;
        height: 180px;
      }
    }

    .front {
      background-color: rgb(218, 240, 255);
      box-shadow: 2px 2px 11px 2px #ba0660;

      i {
        color: #ba0660;
      }
    }
    .back {
      font-size: 22px;
      font-weight: bold;
      color: #422353;
      background-color: rgb(218, 240, 255);
      backface-visibility: hidden;
      transform: perspective(200px) rotateY(180deg);
      box-shadow: inset -4px 4px 11px 3px#663e7e;
      @media (max-width: 767px) {
        font-size: 14px;
      }
    }
  }
}

@keyframes scale {
  from {
    scale: 22;
  }
  to {
    scale: 1;
  }
}
footer {
    margin-top: 50px;
    margin-bottom: 50px;
  div {
    color: white;
    font-style: italic;
    font-size: x-large;
    margin-top: 140px;
    margin-left: 45%;
    text-align: center;

    @media (max-width: 767px) {
      margin-left: 27%;
    }

    a {
      text-shadow: 2px 2px 5px black, -2px -2px 5px black;
      text-decoration: none;
      color: white;
      font-style: italic;
      font-size: 1.7vw;
      font-weight: bold;
      margin-left: 10%;

      @media (max-width: 767px) {
        font-size: 5vw;
        margin-left: -40%;
      }
    }
  }
}
@keyframes z {
  from {
    transform: translateZ(120px) rotateY(-180deg);
  }
  to {
    transform: translateZ(0);
  }
}
@for $i from 2 to 4 {
  .main#{$i} {
    @extend .main1;
  }
}
