@use "../variables" as *;
.contact-page {
  overflow: hidden;
  padding-block: 6rem;
  .contact-container {
    .icons-container {
      perspective: 500px;
      .icon {
        position: absolute;
        cursor: pointer;
        transition:
          transform 1s ease-in-out,
          top 1s ease-in-out,
          left 1s ease-in-out;
        img {
          width: 30%;
          aspect-ratio: 1;
        }
        &.first-icon {
          top: 10%;
          left: 25%;
          transform: translateZ(0px);
        }
        &.second-icon {
          top: 5%;
          left: 65%;
          transform: translateZ(-237px);
        }
        &.third-icon {
          top: 74%;
          left: 41.5%;
          transform: translateZ(115px);
        }
      }
    }
    .infos-container {
      position: relative;
      .infos {
        position: absolute;
        bottom: -25%;
        left: 50%;
        translate: -50% 0;
        transition: 1s ease-in-out;
        a {
          font-family: cards-font;
          font-size: 1.5rem;
          background: linear-gradient(90deg, #8f8f8f, #ffffff, #ffffff);
          background-size: 200%;
          background-clip: text;
          color: transparent;
          animation: moving-text-bg 7s ease-in-out alternate infinite;
        }
      }
    }
  }
  @media screen and (orientation: portrait) {
    a {
      font-size: 1rem !important;
    }
    img {
      width: 35% !important;
    }
  }
}
