@use "../variables" as *;
header {
  height: 8dvh;
  .container {
    div {
      color: $gray-300;
      font-family: "main";
      font-size: 1.5rem;
      transition: 0.5s;
      cursor: pointer;
      &.active,
      &:hover {
        color: $white;
      }
      @media screen and (orientation: portrait) {
        font-size: 1rem;
      }
    }
  }
}
