@use "../variables" as *;
.start-page,
.works-navy {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: $black;
  color: $gray-300;
  align-items: center;
  font-family: "main";
  font-size: 1.5rem;
  transition: 0.5s;
  overflow: hidden;
}
.start-page {
  display: flex;
  justify-content: center;
  .row > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    &.list-con {
      div {
        transition: 0.5s;
        cursor: pointer;
        &:hover {
          color: $white;
        }
      }
    }
    img {
      width: 85%;
      cursor: auto;
      filter: brightness(140%);
    }
  }
  .fade-out {
    animation: fadeOut 1s ease-in-out forwards;
    animation-delay: calc(0.5s * var(--delay));
  }
  @keyframes fadeOut {
    to {
      transform: translateX(calc(20vw * var(--x)));
      opacity: 0;
    }
  }
}

.works-navy {
  z-index: 10;
  .container {
    > div {
      cursor: pointer;
      transition: 0.5s;
      opacity: 0;
      translate: 0 10rem;
      animation: fadeIn 0.5s ease-out forwards;
      &:hover,
      &.active {
        color: $white;
      }
    }
  }
  &.position-bottom {
    height: 4rem;
    background-color: transparent;
    inset: unset;
    bottom: 0;
  }
  @keyframes fadeIn {
    to {
      opacity: 1;
      translate: 0;
    }
  }
  @media screen and (orientation: portrait) {
    .container {
      flex-direction: column;
      &.navy-pressed {
        flex-direction: row !important;
        font-size: 1rem;
      }
    }
  }
}
