@use "../variables" as *;
.start-page {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  color: $gray-300;
  font-family: "main";
  transition: 0.5s;
  .row > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    font-size: 1.75rem;
    &.list-con {
      div {
        transition: 0.5s;
        cursor: pointer;
        &:hover {
          color: $white;
        }
      }
    }
    img {
      width: 100%;
      aspect-ratio: 1;
      cursor: auto;
      filter: brightness(140%);
    }
  }
  .fade-out {
    animation: fadeOut 1s ease-in-out forwards;
    animation-delay: calc(0.5s * var(--delay));
  }
  @keyframes fadeOut {
    to {
      transform: translateX(calc(20vw * var(--x)));
      opacity: 0;
    }
  }
}