@use "./variables";
@use "./fonts";
@use "./components/header";
@use "./components/main";
@use "./components/sections";
@use "./components/works";
@use "./components/about-me";
@use "./components/modal";

